
.omg {

  max-height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px 0;
  align-content: center;
  position: fixed;

}
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #52729A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}